h1.aqua {
    color: aquamarine;
}

#botao {
    background-color: cadetblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 200px;
    height: 200px;
    background-size: contain;
}

#img1 {
    background-image: url('../images/img1.jpg');
}
#img2 {
    background-image: url('../images/img2.webp');
}
#img3 {
    background-image: url('../images/img3.png');
}
#img4 {
    background-image: url('../images/img4.png');
}